:root {
  --font-family: 'Poppins', sans-serif;
  --primary-color: #ffd723;
}

* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  font-family: var(--font-family);
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  display: inline-block;
  color: #d4d6d4;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  line-height: 1;
  margin-left: 10px;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: var(--primary-color);
}

.link::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid currentColor;
  transform: translateX(-10px);
}

.site-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #4d533c;
}

.hero-link {
  color: var(--primary-color);
}

.hero-link:hover {
  color: #fff;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  padding-top: 180px;
  padding-bottom: 200px;
  background-image: url('../img/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  max-width: 620px;
  color: #fff;
}

.hero-subtitle {
  display: inline-block;
  margin-bottom: 22px;
}

.hero-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
}

.hero-descr {
  margin: 0;
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 26px;
}

.burger {
  --offset-horizontal: 11px;
  --offset-vertical: 14px;

  width: 40px;
  height: 40px;
  background-color: #f5f6f7;
  border-radius: 100%;
  position: relative;
  padding: var(--offset-vertical) var(--offset-horizontal);
}

.burger-line {
  height: 2px;
  background-color: #000;
  display: inline-block;
  position: absolute;
  top: var(--offset-vertical);
  left: var(--offset-horizontal);
  right: var(--offset-horizontal);
}

.burger-line:nth-child(2) {
  top: calc(var(--offset-vertical) + 6px);
}

.burger-line:nth-child(3) {
  top: calc(var(--offset-vertical) + 12px);
}

/* services start */

.services {
  padding-top: 150px;
  padding-bottom: 150px;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services-title {
  max-width: 606px;
  margin-bottom: 60px;
}

.services-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.services-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  color: #4d533c;
  margin-bottom: 20px;
}

.services-descr {
  font-weight: 400;
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 56px;
}

.services-link {
  margin-top: auto;
  margin-bottom: 0;
}

/* services end */

/* get-started start */
.get-started {
  background-color: #fafafa;
  width: 88%;
  padding: 70px 0;
  position: relative;
  top: 180px;
  margin-top: -180px;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}

.get-started-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  color: #4d533c;
  max-width: 820px;
  margin-bottom: 50px;
}

.get-started-link {
  text-transform: uppercase;
}
/* get-started end */

/* footer start */
.footer {
  padding-top: 300px;
  color: #fff;
  background-image: url('../img/footer-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #5d6544;
  padding-bottom: 50px;
}

.footer-contacts-item:not(:last-child) {
  margin-right: 130px;
}

.footer-contacts-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #b6c197;
  display: block;
}

.footer-contacts-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
}

.footer-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer-link {
  font-size: 16px;
  line-height: 40px;
  color: #b6c197;
  text-decoration: none;
}

.footer-middle {
  --grid-gap: 70px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid #5d6544;
}

.footer-text {
  font-size: 16px;
  line-height: 26px;
  color: #b6c197;
  margin-bottom: 23px;
}

.footer-mail {
  display: inline-block;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #ffffff;
  text-decoration: none;
}

.footer-column:last-child {
  position: relative;
}

.footer-column:last-child:before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(var(--grid-gap) * -1 / 2);
  width: 1px;
  height: 100%;
  background-color: #5d6544;
}
.copyright {
  line-height: 21px;
  color: #b5c096;
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}
/* footer end */

/* social start */
.social {
  display: flex;
  align-items: center;
}
.social-link {
  display: block;
  width: 34px;
  height: 34px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 21px;
  background-color: #444a34;
  border-radius: 34px;
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

.social-link:hover {
  opacity: 1;
  background-color: var(--primary-color);
}

.social-link-fb {
  background-image: url('../img/fb.svg');
}
.social-link-tw {
  background-image: url('../img/tw.svg');
}
.social-link-g {
  background-image: url('../img/g.svg');
}
.social-link-in {
  background-image: url('../img/in.svg');
}

.social-item:not(:last-child) {
  margin-right: 12px;
}
/* social end */
